body {
  background: linear-gradient(to right, yellow, orange);
  text-align: center;
}

h1 {
  text-align: center;
}
ul {
  display: inline-block;
  text-align: left;
}

img {
  max-width: 50%;
}
a,
a:visited {
  text-decoration: none;
  color: black;
}
